<%= form_tag "/beers/#{@beer.id}", method: :patch do%>
  <div>
    Brand:
    <input type="text" name="brand" value="<%= @beer.brand %>">
  </div>
  <div>
    Name:
    <input type="text" name="name" value="<%= @beer.name %>">
  </div>
  <div>
    Style:
    <input type="text" name="style" value="<%= @beer.style %>">
  </div>
  <div>
    Package Size:
    <input type="text" name="package_size" value="<%= @beer.package_size %>">
  </div>
  <div>
    Bottle Size:
    <input type="text" name="bottle_size" value="<%= @beer.bottle_size %>">
  </div>
  <div>
    Rating:
    <input type="text" name="rating_1to99" value="<%= @beer.rating_1to99 %>">
  </div>
  <div>
    Price:
    <input type="text" name="price" value="<%= @beer.price %>">
  </div>
  <div>
    Image: 
    <input type="text" name="image" value="<%= @beer.image %>">
  </div>
  <div>
    Supplier:
    <input type="text" name="supplier_id" value="<%= @beer.supplier_id %>">
  </div>
  <div>
    <input type="submit" value="Update this beer.">
  </div>

<% end %>