


<% @beers.each_slice(3) do |three_beers| %>
  <div class="row">
    <% three_beers.each do |beer| %>  
      <div class="col-md-4">
        <div class="well"><a href="/beers/<%= beer.id %>">         
          <br>
          <h5>Brand: <%= beer.brand %></h5>
          <br>
          <p>Style: <%= beer.style %></p>
          <br>
          <p>Name: <%= beer.name %></p>
          <p>Rating: <%= beer.rating_1to99  %></p>
          <p>Description: <%= beer.description %></p>
          <p>Price: <%= beer.price %></p>
          <img src="<%= beer.first_image %>">
          <p>Updates On: <%= beer.update_time %></p>
          </a>
        </div>  
      </div>    
    <% end %>
  </div>        
<% end %>
