<h1>All the beers are on this list :) </h1>

<% @beers.each do |beer| %>
<a href="/beers/<%= beer.id %>"><p><%= beer.id %> Title: <%= beer.brand %> Style: <%= beer.style %></p>
</a>


<%= link_to beer.id, "/beers/#{beer.id}"  %>


<% end %>