<!DOCTYPE html>
<html>
  <head>
    <title>Minicapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BeersList</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/beers/new"> Add New Beer<span class="sr-only">(current)</span></a></li>
        <li><a href="/beers">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beer Info <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>Order by:</li>
            <li><a href="/beers?sort=price&order=asc">Price: Low to High</a></li>
            <li><a href="/beers?sort=price&order=desc">Price: High to low </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/beers?where=10">Discounts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/beers/random">Random Beer</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/suppliers">Breweries</a></li>
            <li role="separator" class="divider"></li>
            <% Category.all.each do |category| %>
              <li><a href="/beers?category=<%= category.name %>">
                Category: <%= category.name.capitalize %>
              </a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <%= form_tag "/beers", method: :get do %>
        <input type="text" name="search_result" placeholder="Search...">
        <input type="submit" value="Search" >
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Info <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <li><a href="/logout">Log Out</a></li>
            <% else %>
              <li><a href="/sign_up">Sign Up</a></li>
              <li><a href="/login">Log In</a></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

   <!-- these are flash messages  -->
    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %> 
    </div>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
